<template>
  <div>
  <br>
  <!-- <div class="alert alert-success">
      <strong>Success!</strong> Indicates a successful or positive action.
    </div> -->
    <div class="alert alert-success alert-dismissible" v-if="success_alert">
      <button @click="closeAlert" type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success!</strong> Product added to cart.
    </div>

  <button v-if="initial_loading" class="btn btn-primary" disabled>
    <span class="spinner-border spinner-border-sm"></span>
    Loading..
  </button>

  <div class="row" >
    <template v-if="!initial_loading && data_array.length">
      <div class="col-sm-4" v-if="single_product" >
        <img v-if="single_product.image_link" style="height:350px;width:250px" :src="single_product.image_link" >
        <img v-else style="height:350px;width:250px"  src="/images/placeholder-page.png" >
        <div class="row">
          <div style="padding-left:20px">
            <p>{{single_product.name}}</p>
            <p>${{single_product.price | numberWithCommas}}</p>
          </div>
          <div>
            <button @click="addToCartClick(single_product)" style="margin-left:25px; "  type="button" class="btn btn-outline-light text-dark btn-sm">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8"  >
        <div class="row">
          <template v-if="data_array.length">
            <div class="col-sm-5" v-for="(item,index) in data_array" :key="index">
              <div style="padding:0px 20px 20px 0px">
                <img v-if="item.image_link"  style="height:120px;width:220px" :src="item.image_link" >
                <img v-else style="height:120px;width:220px" src="/images/placeholder-page.png" >
                <div class="row">
                  <div style="padding-left:20px">
                    <p>{{item.name}}</p>
                    <p>${{item.price | numberWithCommas}}</p>
                  </div>
                  <div>
                    <button @click="addToCartClick(item)" style="margin-left:25px; "  type="button" class="btn btn-outline-light text-dark btn-sm">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </template>
    <template v-else-if="!initial_loading">
      <div class="col-sm-4 ">
        <h3 >No data found!</h3>
      </div>
    </template>
  </div>
  <br>

  </div>
</template>

<script>
  export default {
    data(){
      return {
        success_alert:false,
        set_time_interval:null,
        initial_loading:false,
        // data_array:[
        //   {
        //     id:1,
        //     image_link:'https://www.w3schools.com/bootstrap4/paris.jpg',
        //     name:'product 1',
        //     price:120,
        //   },
        //   {
        //     id:2,
        //     image_link:'https://cdn.pixabay.com/photo/2020/08/13/14/15/mountains-5485366__340.jpg',
        //     // image_link:null,
        //     name:'product 2',
        //     price:220,
        //   },
        //   {
        //     id:3,
        //     image_link:'https://cdn.pixabay.com/photo/2020/05/26/13/22/puffins-5223055__340.jpg',
        //     name:'product 3',
        //     price:100,
        //   },
        //   {
        //     id:4,
        //     image_link:'https://cdn.pixabay.com/photo/2020/05/26/13/22/puffins-5223055__340.jpg',
        //     name:'product 4',
        //     price:200,
        //   },
        //   {
        //     id:5,
        //     image_link:'https://cdn.pixabay.com/photo/2020/05/26/13/22/puffins-5223055__340.jpg',
        //     name:'product 5',
        //     price:50,
        //   },
        // ],
        data_array:[],
        single_product:{}
      }
    },
    created(){
      this.initial_loading = true
      if (this.getProducts.length) {
        this.data_array.push(... this.getProducts)
        if (this.data_array.length) {
          this.single_product = this.data_array[0]
          this.data_array.splice(0,1)
        }
      }
      this.initial_loading = false

    },
    methods: {
      addToCartClick(item){
        this.success_alert=false
        this.addToCart(item,1)
        this.success_alert=true
        clearInterval(this.set_time_interval)
        this.set_time_interval = setInterval(() => {
          this.success_alert=false
        }, 3000);
        return
      },
      closeAlert(){
        this.success_alert=false
        return clearInterval(this.set_time_interval)
      }

    }
  }
</script>

<style >

</style>
