<template>
  <div>
    <br>
    <div class="row" >
        <div class="col-sm-6"  >
          <h1>Newsletter</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
        </div>
        <div class="col-sm-6" >
          <div class="form-inline" >
            <input v-model="form_data.email" type="email" class="form-control" placeholder="Enter Address" >
            <button @click="subscribe" class="btn btn-primary">Subscribe</button>
          </div>
          <p v-if="error_text" style="color:red">Error: {{error_text}}</p>
        </div>
    </div>
    <br>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        error_text:'',
        form_data:{
          email:''
        },
        validate_email_reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
      }
    },
    methods:{
      subscribe(){
        this.error_text = ''
        // this.form_data.email = this.form_data.email.trim()
        if (!this.form_data.email.trim()) {
          this.error_text = 'Enter email address'
          return
        }
        if (!this.validate_email_reg.test(this.form_data.email)) {
          this.error_text = 'Invalid email address!'
          return
        }
        // call api
      }
    }
  }
</script>

<style >

</style>
