<template>
  <div>
    <br>
    <div class="row" >
        <div class="col-sm-12 text-center"  >
          <h1>About Your Shop</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
        </div>

    </div>
    <br>
  </div>
</template>

<script>
  export default {

  }
</script>

<style >

</style>
