<template>
  <div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Tagline describing your e-shop</h1>
        <br>
        <hr class="d-sm" style="width: 200px">
      </div>

    </div>
    <br>
    <div class="row" >
      <template v-if="data_array.length">
        <div class="col-sm-4"  v-for="(item,index) in data_array" :key="index">
          <img v-if="item.image_link" style="height:250px;width:350px" :src="item.image_link" >
          <img v-else style="height:250px;width:350px" src="/images/placeholder-page.png" >
        </div>
      </template>
      <template v-else>
        <div class="col-sm-4 ">
          <h1 >No data found!</h1>
        </div>
      </template>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 text-center">
        <nuxt-link class="btn btn-secondary" to="/shop">
          Shop now
        </nuxt-link>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        data_array:[
          {
            id:1,
            image_link:'https://www.w3schools.com/bootstrap4/paris.jpg',
          },
          {
            id:2,
            image_link:'https://cdn.pixabay.com/photo/2020/08/13/14/15/mountains-5485366__340.jpg',
            // image_link:null,
          },
          {
            id:3,
            image_link:'https://cdn.pixabay.com/photo/2020/05/26/13/22/puffins-5223055__340.jpg',
          },
        ]
      }
    }
  }
</script>

<style >

</style>
