<template>
  <div>
    <br>
    <div class="row" >
        <div class="col-sm-4"  >
          <img  style="height:150px;width:150px" src="/images/placeholder-page.png" >
          <p>1717 Harision St, San Francisco, </p>
          <p>CA 94103, USA</p>
        </div>
        <div class="col-sm-8"  >
          <div class="row">
            <div class="col-sm-3">
              <p>Main Menu</p>
              <br>
              <p>Home</p>
              <p>About</p>
              <p>Shop</p>
              <p>Help</p>
            </div>
            <div class="col-sm-3">
              <p>Company</p>
              <br>
              <p>The company</p>
              <p>Careers</p>
              <p>Press</p>
            </div>
            <div class="col-sm-3">
              <p>Doscover</p>
              <br>
              <p>The Team</p>
              <p>Our History</p>
              <p>Brand Motto</p>
            </div>
            <div class="col-sm-3">
              <p>Find US ON</p>
              <br>
              <p>Facebook</p>
              <p>Twitter</p>
              <p>Instagram</p>
            </div>
          </div>
        </div>

    </div>
    <br>
  </div>
</template>

<script>
  export default {

  }
</script>

<style >

</style>
