<template>
  <div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Featured Products</h1>
        <br>
      </div>
    </div>
    <br>
    <div class="row" >
      <template v-if="data_array.length">
        <div class="col-sm-1"  >
          <b-col @click="prevItems" lg="4" class="pb-2"><b-button size="sm">&#x3c;</b-button></b-col>
        </div>
        <div class="col-sm-5"  v-if="data_array[slide_count]" >
          <img v-if="data_array[slide_count].image_link" style="height:250px;width:450px" :src="data_array[slide_count].image_link" >
          <img v-else style="height:250px;width:350px" src="/images/placeholder-page.png" >
          <div class="text-center">
            <p >{{data_array[slide_count].name}}</p>
            <p >${{data_array[slide_count].price}}</p>
          </div>
        </div>
        <div class="col-sm-5"  v-if="data_array[slide_count+1]">
          <img v-if="data_array[slide_count+1].image_link" style="height:250px;width:450px" :src="data_array[slide_count+1].image_link" >
          <img v-else style="height:250px;width:350px" src="/images/placeholder-page.png" >
          <div class="text-center">
            <p >{{data_array[slide_count+1].name}}</p>
            <p >${{data_array[slide_count+1].price}}</p>
          </div>
        </div>
        <div class="col-sm-1"  >
          <b-col @click="nextItems" lg="4" class="pb-2"><b-button size="sm">&#x3e;</b-button></b-col>
        </div>
      </template>
      <template v-else>
        <div class="col-sm-4 ">
          <h1 >No data found!</h1>
        </div>
      </template>

    </div>
    <br>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        slide_count:0,
        data_array:[
          {
            id:1,
            image_link:'https://www.w3schools.com/bootstrap4/paris.jpg',
            name:'product 1',
            price:100,
          },
          {
            id:2,
            image_link:'https://cdn.pixabay.com/photo/2020/08/13/14/15/mountains-5485366__340.jpg',
            // image_link:null,
            name:'product 2',
            price:120,
          },
          {
            id:3,
            image_link:'https://cdn.pixabay.com/photo/2020/05/26/13/22/puffins-5223055__340.jpg',
            name:'product 3',
            price:150,
          },
          {
            id:4,
            image_link:'https://cdn.pixabay.com/photo/2020/05/11/17/08/boat-5159224__340.jpg',
            name:'product 4',
            price:200,
          },
          {
            id:5,
            image_link:'https://cdn.pixabay.com/photo/2020/08/08/20/41/seagulls-5473897__340.jpg',
            name:'product 5',
            price:60,
          },
        ]
      }
    },
    methods:{
      nextItems(){
        if((this.slide_count+2)<=this.data_array.length-1){
          this.slide_count++
          // this.slide_count+=2
        }
      },
      prevItems(){
        if (this.slide_count>0) {
          this.slide_count--
          // this.slide_count-=2
        }
      },
    }
  }
</script>

<style >

</style>
