<template>
<div>
  <div class="container">

    <!-- <div class="row"> -->
      <!-- <div class="col-sm-8 text-center" > -->
        <b-nav card-header pills style="place-content: center; padding-bottom:100px">
          <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            <!-- Bootstrap -->
          </a>
          <b-nav-form @submit.stop.prevent="alert('Form Submitted')">
            <b-form-input aria-label="Input" class="mr-1" placeholder="search"></b-form-input>
            <!-- <b-button type="submit">Ok</b-button> -->
          </b-nav-form>
          <li class="nav-item">
            <nuxt-link class="nav-link" :class="($route.path==`/`) ? 'active' : '' " to="/">
              Home
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" :class="($route.path==`/about`) ? 'active' : '' " to="/about">
              About
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" :class="($route.path==`/shop`) ? 'active' : '' " to="/shop">
              Shop
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" :class="($route.path==`/help`) ? 'active' : '' " to="/help">
              Help
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" :class="($route.path==`/cart-list`) ? 'active' : '' " to="/cart-list">
              <i class="fas fa-cart-plus"></i>
              Your cart {{getCartList.length ? `(${getCartList.length})` : null}}
            </nuxt-link>
          </li>

          <!-- <li class="nav-item">
            <a href="#" target="_self" class="nav-link">About</a>
          </li> -->

          <!-- <b-nav-item>Link</b-nav-item> -->
          <!-- <b-nav-item>Another Link</b-nav-item> -->
          <!-- <b-nav-item >Cart</b-nav-item> -->
          <!-- <b-nav-item disabled>Disabled</b-nav-item> -->
        </b-nav>
      <!-- </div>
    </div> -->
  </div>
</div>
</template>

<script>
export default {
  created(){
    // console.log(this.$route.path)
  }
}
</script>

<style>

</style>
