<template>
<div class=" text-center " style="margin-bottom:0">
  <p>	&copy; <a href="https://www.linkedin.com/in/hafizurrahmanhera/" target="_blank">Md. Hafizur Rahman</a> 2020</p>

</div>
</template>

<style>
/* .NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
} */
</style>
