<template>
  <div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row" style="padding-top:80px;padding-bottom: 80px; background: #f4f4f4">
          <div class="col-sm-12 "  >
            <h4>1.Shoping Cart</h4>
            <hr>
          </div>
        </div>
        <br>
      </div>

      <div class="col-sm-12">
        <div class="row" >
          <div class="col-sm-9"  >
            <h3>Shoping Cart</h3>
            <hr>
            <div class="row">
              <div class="col-sm-8">
                <div>
                  <template v-if="getCartList.length">
                    <div class="row" v-for="(item,index) in getCartList" :key="index">
                      <div class="col-sm-1">
                        <b-col @click="removeCartListItem(index,item)" lg="4" class="pb-2"><b-button size="sm">&#10005;</b-button></b-col>
                      </div>

                      <div class="col-sm-3">
                        <img v-if="item.image_link"  style="height:110px;width:130px" :src="item.image_link" >
                        <img v-else style="height:110px;width:130px" src="/images/placeholder-page.png" >
                      </div>
                      <div class="col-sm-7">
                        <h5>{{item.name}}</h5>
                        <p>{{item.description}} </p>
                        <h5>${{item.price | numberWithCommas}}</h5>
                      </div>
                      <div class="col-sm-1">
                        <input :value="item.quantity" type="number"  min="1"
                        v-on:input="updateQuantity($event,index)"
                        required
                        >

                      </div>
                      <!-- <div class="col-sm-1"  >
                      </div> -->
                      <div style="padding:10px">

                      </div>
                    </div>
                  </template>
                  <template v-else>
                    <h5>No product</h5>
                  </template>
                  <br>
                </div>

                <div style="padding-left:45px">
                  <button type="button" class="btn btn-dark">Next</button>
                  <button type="button" class="btn btn-light">Cancel</button>
                </div>

              </div>


            </div>

          </div>
          <div class="col-sm-3"  >
            <h3>Shoping Cart</h3>
            <hr>
            <h4>ENTER COUPON CODE</h4>
            <hr>
            <div class="row">
              <div class="col-sm-9">
                <p>SUBTOTAL</p>
              </div>
              <div class="col-sm-2">
                <p>${{getCartSubtotal | numberWithCommas}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p>SHIPPING</p>
              </div>
              <div class="col-sm-2">
                <p>FREE</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p>TAXES</p>
              </div>
              <div class="col-sm-2">
                <p>${{( (getCartSubtotal/100)*getTaxesPercentage).toFixed(2) | numberWithCommas}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-8">
                <h4>TOTAL</h4>
              </div>
              <div class="col-sm-2">
                <h4>${{ (Number(getCartSubtotal)+(Number((getCartSubtotal/100)*getTaxesPercentage))).toFixed(2) }}</h4>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <br>

    <hr>
  </div>
</template>

<script>
  export default {
    data(){
      return{
      }
    },
    methods: {
      updateQuantity(e,index){
        if (e.target.value>0) {
          this.$store.dispatch('updateCartListItemQuantity',{index:index, quantity:e.target.value})
        }else{
          e.target.value = 1
        }
      },
      removeItem(index,item){
        this.$store.dispatch('removeCartListItem',)
      }
    }
  }
</script>

<style >

</style>
