<template>
  <div class="container">
    <div>
      <!-- <h3>section 1</h3> -->
      <Section1/>
      <hr>
      <Section2/>
      <!-- <h3>section 2</h3> -->
      <hr>
      <Section3/>
      <!-- <h3>section 3</h3> -->
      <hr>
      <Section4/>
      <!-- <h3>section 4</h3> -->
      <hr>
      <Section5/>
      <!-- <h3>section 5</h3> -->
      <hr>
      <Section6/>
      <!-- <h3>section 6</h3> -->
      <hr>

    </div>
  </div>
</template>

<script>
import Section1 from "@/components/home/section1"
import Section2 from "@/components/home/section2"
import Section3 from "@/components/home/section3"
import Section4 from "@/components/home/section4"
import Section5 from "@/components/home/section5"
import Section6 from "@/components/home/section6"
export default {
  components: {
    Section1,
    Section2,
    Section3,
    Section4,
    Section5,
    Section6,
  }
}
</script>

<style>
/* .container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
} */
</style>
